/* General page styling */

body {
    font-family: Arial, sans-serif;
    margin:0;
    padding:0;
    background-color: bisque;
    color: antiquewhite;

}

/* Header styling */
header {
    background: linear-gradient(135deg, #1a1a2e, #e94560);
    background-color: aqua;
    color: azure;
    text-align: center;
    padding: 100px 20px;
}

header p{
    font-size: 1.2rem;
    letter-spacing: 2px;
    opacity: 0.8;
}

/* Section styling */

section{
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: brown;
    border-radius: 8px;
    transition: transform 0.3 ease;
}

section:hover{
    transform: translateY(-5px);
}

/* Name */
.my_name{
    font-size: 3rem;
    letter-spacing: 3px;

}

/* Nav */
nav{
    background-color: black;
    text-align: center;
    padding: 15px;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 1rem;
}

nav a:hover{
    color: #e94560;
}

.btn{
    display:inline-block;
    margin-top: 20px;
    padding: 12px 30px;
    background-color: #e94560;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-size: 1rem;
    transition: background-color 0.3 ease;
}

.btn:hover{
    background-color: white;
    color: #e94560;
}

@media(max_width:600px){
    nav a {
        display:block;
        margin: 10px 0;
    }
    
    header{
        padding: 60px 20px;
    }

    .my_name{
        font-size: 2rem;
    }
}